* text=auto !eol
prboom2/ICONS/nyan-doom.ico -text
prboom2/data/flats/-n0_tex-.ppm -text
prboom2/data/graphics/boxcc.png -text
prboom2/data/graphics/boxcl.png -text
prboom2/data/graphics/boxcr.png -text
prboom2/data/graphics/boxlc.png -text
prboom2/data/graphics/boxll.png -text
prboom2/data/graphics/boxlr.png -text
prboom2/data/graphics/boxuc.png -text
prboom2/data/graphics/boxul.png -text
prboom2/data/graphics/boxur.png -text
prboom2/data/graphics/nyanlogo.png
prboom2/data/graphics/smbfgg0.png
prboom2/data/graphics/smbfgg1.png
prboom2/data/graphics/smcsaw0.png
prboom2/data/graphics/smcsaw1.png
prboom2/data/graphics/smfist0.png
prboom2/data/graphics/smfist1.png
prboom2/data/graphics/smlaun0.png
prboom2/data/graphics/smlaun1.png
prboom2/data/graphics/smmgun0.png
prboom2/data/graphics/smmgun1.png
prboom2/data/graphics/smpisg0.png
prboom2/data/graphics/smpisg1.png
prboom2/data/graphics/smplas0.png
prboom2/data/graphics/smplas1.png
prboom2/data/graphics/smsgn20.png
prboom2/data/graphics/smsgn21.png
prboom2/data/graphics/smshot0.png
prboom2/data/graphics/smshot1.png
prboom2/data/lumps/gls_fuzz.lmp
prboom2/data/lumps/gls_main.lmp
prboom2/data/lumps/gls_v.lmp
prboom2/data/graphics/cross1.png -text
prboom2/data/graphics/cross2.png -text
prboom2/data/graphics/cross3.png -text
prboom2/data/graphics/cross4.png -text
prboom2/data/graphics/cross5.png -text
prboom2/data/graphics/cross6.png -text
prboom2/data/graphics/cross7.png -text
prboom2/data/graphics/cross8.png -text
prboom2/data/graphics/cross9.png -text
prboom2/data/graphics/dig033.png -text
prboom2/data/graphics/dig034.png -text
prboom2/data/graphics/dig035.png -text
prboom2/data/graphics/dig036.png -text
prboom2/data/graphics/dig037.png -text
prboom2/data/graphics/dig038.png -text
prboom2/data/graphics/dig039.png -text
prboom2/data/graphics/dig040.png -text
prboom2/data/graphics/dig041.png -text
prboom2/data/graphics/dig042.png -text
prboom2/data/graphics/dig043.png -text
prboom2/data/graphics/dig044.png -text
prboom2/data/graphics/dig045.png -text
prboom2/data/graphics/dig046.png -text
prboom2/data/graphics/dig047.png -text
prboom2/data/graphics/dig048.png -text
prboom2/data/graphics/dig049.png -text
prboom2/data/graphics/dig050.png -text
prboom2/data/graphics/dig051.png -text
prboom2/data/graphics/dig052.png -text
prboom2/data/graphics/dig053.png -text
prboom2/data/graphics/dig054.png -text
prboom2/data/graphics/dig055.png -text
prboom2/data/graphics/dig056.png -text
prboom2/data/graphics/dig057.png -text
prboom2/data/graphics/dig058.png -text
prboom2/data/graphics/dig059.png -text
prboom2/data/graphics/dig060.png -text
prboom2/data/graphics/dig061.png -text
prboom2/data/graphics/dig062.png -text
prboom2/data/graphics/dig063.png -text
prboom2/data/graphics/dig064.png -text
prboom2/data/graphics/dig065.png -text
prboom2/data/graphics/dig066.png -text
prboom2/data/graphics/dig067.png -text
prboom2/data/graphics/dig068.png -text
prboom2/data/graphics/dig069.png -text
prboom2/data/graphics/dig070.png -text
prboom2/data/graphics/dig071.png -text
prboom2/data/graphics/dig072.png -text
prboom2/data/graphics/dig073.png -text
prboom2/data/graphics/dig074.png -text
prboom2/data/graphics/dig075.png -text
prboom2/data/graphics/dig076.png -text
prboom2/data/graphics/dig077.png -text
prboom2/data/graphics/dig078.png -text
prboom2/data/graphics/dig079.png -text
prboom2/data/graphics/dig080.png -text
prboom2/data/graphics/dig081.png -text
prboom2/data/graphics/dig082.png -text
prboom2/data/graphics/dig083.png -text
prboom2/data/graphics/dig084.png -text
prboom2/data/graphics/dig085.png -text
prboom2/data/graphics/dig086.png -text
prboom2/data/graphics/dig087.png -text
prboom2/data/graphics/dig088.png -text
prboom2/data/graphics/dig089.png -text
prboom2/data/graphics/dig090.png -text
prboom2/data/graphics/dig091.png -text
prboom2/data/graphics/dig092.png -text
prboom2/data/graphics/dig093.png -text
prboom2/data/graphics/dig094.png -text
prboom2/data/graphics/dig095.png -text
prboom2/data/graphics/dig096.png -text
prboom2/data/graphics/dig097.png -text
prboom2/data/graphics/dig098.png -text
prboom2/data/graphics/dig099.png -text
prboom2/data/graphics/dig100.png -text
prboom2/data/graphics/dig101.png -text
prboom2/data/graphics/dig102.png -text
prboom2/data/graphics/dig103.png -text
prboom2/data/graphics/dig104.png -text
prboom2/data/graphics/dig105.png -text
prboom2/data/graphics/dig106.png -text
prboom2/data/graphics/dig107.png -text
prboom2/data/graphics/dig108.png -text
prboom2/data/graphics/dig109.png -text
prboom2/data/graphics/dig110.png -text
prboom2/data/graphics/dig111.png -text
prboom2/data/graphics/dig112.png -text
prboom2/data/graphics/dig113.png -text
prboom2/data/graphics/dig114.png -text
prboom2/data/graphics/dig115.png -text
prboom2/data/graphics/dig116.png -text
prboom2/data/graphics/dig117.png -text
prboom2/data/graphics/dig118.png -text
prboom2/data/graphics/dig119.png -text
prboom2/data/graphics/dig120.png -text
prboom2/data/graphics/dig121.png -text
prboom2/data/graphics/dig122.png -text
prboom2/data/graphics/dig123.png -text
prboom2/data/graphics/dig124.png -text
prboom2/data/graphics/dig125.png -text
prboom2/data/graphics/dig126.png -text
prboom2/data/graphics/fonta06.png -text
prboom2/data/graphics/fonta28.png -text
prboom2/data/graphics/fonta30.png -text
prboom2/data/graphics/amkills.png -text
prboom2/data/graphics/amitem.png -text
prboom2/data/graphics/amsecr.png -text
prboom2/data/graphics/m_butt1.png -text
prboom2/data/graphics/m_butt2.png -text
prboom2/data/graphics/m_colors.ppm -text
prboom2/data/graphics/m_palno.png -text
prboom2/data/graphics/m_palsel.png -text
prboom2/data/graphics/m_vbox.png -text
prboom2/data/graphics/stcfn096.png -text
prboom2/data/graphics/stkeys6.png -text
prboom2/data/graphics/stkeys7.png -text
prboom2/data/graphics/stkeys8.png -text
prboom2/data/graphics/nyanstb1.png -text
prboom2/data/graphics/stfpkill.png -text
prboom2/data/graphics/stfpitem.png -text
prboom2/data/graphics/stfpsecr.png -text
prboom2/data/graphics/stfpinv.png -text
prboom2/data/graphics/stfpins.png -text
prboom2/data/graphics/stfpvis.png -text
prboom2/data/graphics/stfpmap.png -text
prboom2/data/graphics/stfpsuit.png -text
prboom2/data/graphics/stfpbpak.png -text
prboom2/data/graphics/stfparm1.png -text
prboom2/data/graphics/stfparm2.png -text
prboom2/data/graphics/stfppstr.png -text
prboom2/data/graphics/stfpfly.png -text
prboom2/data/graphics/amkills2.png -text
prboom2/data/graphics/amitem2.png -text
prboom2/data/graphics/amsecr2.png -text
prboom2/data/graphics/amkills3.png -text
prboom2/data/graphics/amitem3.png -text
prboom2/data/graphics/amsecr3.png -text
prboom2/data/graphics/nyanstb2.png -text
prboom2/data/graphics/nyanstb3.png -text
prboom2/data/graphics/stfrkil2.png -text
prboom2/data/graphics/stfritm2.png -text
prboom2/data/graphics/stfrscr2.png -text
prboom2/data/graphics/stfrkil3.png -text
prboom2/data/graphics/stfritm3.png -text
prboom2/data/graphics/stfrscr3.png -text
prboom2/data/graphics/stfrtome.png -text
prboom2/data/graphics/stfrmor1.png -text
prboom2/data/graphics/stfrmor2.png -text
prboom2/data/graphics/stfrsped.png -text
prboom2/data/graphics/stfrmaul.png -text
prboom2/data/graphics/stfpstr0.png -text
prboom2/data/graphics/stfpstr1.png -text
prboom2/data/graphics/stfarms0.png -text
prboom2/data/graphics/stfarms1.png -text
prboom2/data/graphics/stfarms2.png -text
prboom2/data/graphics/stfarm20.png -text
prboom2/data/graphics/stfarm21.png -text
prboom2/data/graphics/stfarm22.png -text
prboom2/data/graphics/chxpstr0.png -text
prboom2/data/graphics/chxpstr1.png -text
prboom2/data/graphics/chxarms0.png -text
prboom2/data/graphics/chxarms1.png -text
prboom2/data/graphics/chxarms2.png -text
prboom2/data/lumps/animated.lmp -text
prboom2/data/lumps/b_end.lmp -text
prboom2/data/lumps/b_start.lmp -text
prboom2/data/lumps/bfgbex.lmp -text
prboom2/data/lumps/c_end.lmp -text
prboom2/data/lumps/c_start.lmp -text
prboom2/data/lumps/chexdeh.lmp -text
prboom2/data/lumps/dsdacr.lmp -text
prboom2/data/lumps/nyanhud.lmp -text
prboom2/data/lumps/x11r6rgb.lmp -text
prboom2/data/lumps/gammatbl.lmp -text
prboom2/data/lumps/glshadow.lmp -text
prboom2/data/graphics/opengl/m_ammo.png -text
prboom2/data/graphics/opengl/m_armour.png -text
prboom2/data/graphics/opengl/m_arrow.png -text
prboom2/data/graphics/opengl/m_health.png -text
prboom2/data/graphics/opengl/m_key.png -text
prboom2/data/graphics/opengl/m_mark.png -text
prboom2/data/graphics/opengl/m_normal.png -text
prboom2/data/graphics/opengl/m_power.png -text
prboom2/data/graphics/opengl/m_shadow.png -text
prboom2/data/graphics/opengl/m_weap.png -text
prboom2/data/graphics/opengl/h_ammo.png -text
prboom2/data/graphics/opengl/h_weap.png -text
prboom2/data/graphics/opengl/h_weap2.png -text
prboom2/data/graphics/opengl/h_mana.png -text
prboom2/data/graphics/opengl/h_puzzle.png -text
prboom2/data/lumps/nervebex.lmp -text
prboom2/data/lumps/sinetabl.lmp -text
prboom2/data/lumps/sndcurve.lmp -text
prboom2/data/lumps/soundfont/sndfont.lmp -text
prboom2/data/lumps/switches.lmp -text
prboom2/data/lumps/tangtabl.lmp -text
prboom2/data/lumps/tantoang.lmp -text
prboom2/data/lumps/watermap.lmp -text
prboom2/data/palette.rgb -text
prboom2/data/sounds/dsdgact.wav -text
prboom2/data/sounds/dsdgatk.wav -text
prboom2/data/sounds/dsdgdth.wav -text
prboom2/data/sounds/dsdgpain.wav -text
prboom2/data/sounds/dsdgsit.wav -text
prboom2/data/sounds/dsgibdth.wav -text
prboom2/data/sounds/dssecret.wav -text
prboom2/data/sounds/dsnyanut.wav -text
prboom2/data/sprites/dogsa1.png -text
prboom2/data/sprites/dogsa2.png -text
prboom2/data/sprites/dogsa3.png -text
prboom2/data/sprites/dogsa4.png -text
prboom2/data/sprites/dogsa5.png -text
prboom2/data/sprites/dogsa6.png -text
prboom2/data/sprites/dogsa7.png -text
prboom2/data/sprites/dogsa8.png -text
prboom2/data/sprites/dogsb1.png -text
prboom2/data/sprites/dogsb2.png -text
prboom2/data/sprites/dogsb3.png -text
prboom2/data/sprites/dogsb4.png -text
prboom2/data/sprites/dogsb5.png -text
prboom2/data/sprites/dogsb6.png -text
prboom2/data/sprites/dogsb7.png -text
prboom2/data/sprites/dogsb8.png -text
prboom2/data/sprites/dogsc1.png -text
prboom2/data/sprites/dogsc2.png -text
prboom2/data/sprites/dogsc3.png -text
prboom2/data/sprites/dogsc4.png -text
prboom2/data/sprites/dogsc5.png -text
prboom2/data/sprites/dogsc6.png -text
prboom2/data/sprites/dogsc7.png -text
prboom2/data/sprites/dogsc8.png -text
prboom2/data/sprites/dogsd1.png -text
prboom2/data/sprites/dogsd2.png -text
prboom2/data/sprites/dogsd3.png -text
prboom2/data/sprites/dogsd4.png -text
prboom2/data/sprites/dogsd5.png -text
prboom2/data/sprites/dogsd6.png -text
prboom2/data/sprites/dogsd7.png -text
prboom2/data/sprites/dogsd8.png -text
prboom2/data/sprites/dogse1.png -text
prboom2/data/sprites/dogse2.png -text
prboom2/data/sprites/dogse3.png -text
prboom2/data/sprites/dogse4.png -text
prboom2/data/sprites/dogse5.png -text
prboom2/data/sprites/dogse6.png -text
prboom2/data/sprites/dogse7.png -text
prboom2/data/sprites/dogse8.png -text
prboom2/data/sprites/dogsf1.png -text
prboom2/data/sprites/dogsf2.png -text
prboom2/data/sprites/dogsf3.png -text
prboom2/data/sprites/dogsf4.png -text
prboom2/data/sprites/dogsf5.png -text
prboom2/data/sprites/dogsf6.png -text
prboom2/data/sprites/dogsf7.png -text
prboom2/data/sprites/dogsf8.png -text
prboom2/data/sprites/dogsg1.png -text
prboom2/data/sprites/dogsg2.png -text
prboom2/data/sprites/dogsg3.png -text
prboom2/data/sprites/dogsg4.png -text
prboom2/data/sprites/dogsg5.png -text
prboom2/data/sprites/dogsg6.png -text
prboom2/data/sprites/dogsg7.png -text
prboom2/data/sprites/dogsg8.png -text
prboom2/data/sprites/dogsh1.png -text
prboom2/data/sprites/dogsh2.png -text
prboom2/data/sprites/dogsh3.png -text
prboom2/data/sprites/dogsh4.png -text
prboom2/data/sprites/dogsh5.png -text
prboom2/data/sprites/dogsh6.png -text
prboom2/data/sprites/dogsh7.png -text
prboom2/data/sprites/dogsh8.png -text
prboom2/data/sprites/dogsi0.png -text
prboom2/data/sprites/dogsj0.png -text
prboom2/data/sprites/dogsk0.png -text
prboom2/data/sprites/dogsl0.png -text
prboom2/data/sprites/dogsm0.png -text
prboom2/data/sprites/dogsn0.png -text
prboom2/data/sprites/pls1a0.png -text
prboom2/data/sprites/pls1b0.png -text
prboom2/data/sprites/pls1c0.png -text
prboom2/data/sprites/pls1d0.png -text
prboom2/data/sprites/pls1e0.png -text
prboom2/data/sprites/pls1f0.png -text
prboom2/data/sprites/pls1g0.png -text
prboom2/data/sprites/pls2a0.png -text
prboom2/data/sprites/pls2b0.png -text
prboom2/data/sprites/pls2c0.png -text
prboom2/data/sprites/pls2d0.png -text
prboom2/data/sprites/pls2e0.png -text
prboom2/data/sprites/tnt1a0.png -text
prboom2/src/gl_shader.c -text
.vs/CMakeWorkspaceSettings.json text eol=crlf
